body {
	background-color: #58332A;
}
p {
	font-family: Times New Roman;
	font-size: 16px;
}
a {
	font-color: #00000;
}
h1 {
	font-family: Times;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
    background-color: #58332A;
}
li {
    border-right: 1px solid #bbb;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #4d0000;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #58332A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #4d0000;}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
	position: relative;
	width: 975px;
	height: 4000px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 100%;
	margin-bottom: 100%;
	padding: 2%;
	margin-right: auto;
	background-image: url(assets/background.jpg); 
	}
	
#nav {
	Width: 100%;
	align-content:center;

}

#primary {
	float: left;
	width: 300px;
	height: 2800px;
	border: 1px solid black;
	display: inline-block;
	padding: 10px;
}

#content {
    float: left;
    width: 300px;
	height: 2800px;
	border:1px solid black;
	display: inline-block;
	padding: 10px;
}

#secondary {
    float: left;
    width: 300px;
	height: 2800px;
	border:1px solid black;
	display: inline-block;
	padding: 10px;

}	

#ab1 {
float: left;
    width: 475px;
}
#ab2 {
float: right;
    width: 475px;
	
}	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
